<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body bgcolor="aqua" style="text-align: center;">
    <h1>Product Form processing</h1>
    <form action="/Productprocess" method="post">
        <div>
            <label>Product Name:</label>
            <input type="text" name="pName">
        </div>
        <br>
        <div>
            <label>Product Cost:</label>
            <input type="text" name="pPrice">
        </div>
        <br>
        <div>
            <label>Product Quantity:</label>
            <input type="text" name="pQuantity">
        </div>
        <br>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>
