<html xmlns="http://thymeleaf.org">

<body bgcolor="aqua">
	<div align="center">
		<h1>Create New Product...,</h1>
		<form method="post" action="#" th:action="@{/save}" th:object="${product}">
			<table border="0" cellpadding="10">
				<tr>
					<td>Product Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Product Brand:</td>
					<td>
						<input type="text" th:field="*{brand}" />
					</td>
				</tr>
				<tr>
					<td>Product madein:</td>
					<td><input type="text" th:field="*{madein}"></td>

				</tr>
				<tr>
					<td>Product Price:</td>
					<td><input type="text" th:field="*{price}"></td>

				</tr>

			</table><br>
			<button type="submit">Save</button>


		</form>
	</div>
</body>

</html>